@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: calc(100vh - 70px);
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  margin: 0 25px;
}

.kaire {
  display: flex;
  align-items: center;
 }
 
 .kaire #menu {
  padding: 0 7px;
  cursor: pointer;
 }
.youtube{
  height: 20px;
  width: auto;
  padding: 0 20px
}
 .searching {
  display: flex;
  align-items: center;
  padding: 20px;
  flex: 2;
 }
 
 .searching form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin: 0 20px;
  height: 45px;
  width: 100%;
 }
form input {
  width: 300px;
  padding: 10px;
  border: none;
  height: 100%;
  border-radius: 30px;
  right: 0;
}
.searching button {
  height: 100%;
  width: 60px;
  border: none;
  border-radius:  0 30px 30px 0 ;
}
.mic {
  background-color: rgba(226, 223, 223, 0.541);
  border-radius: 50px;
  padding: 8px;
}
.right {
  display: flex;
  gap: 5px;
  margin-left: 20px;
  color: rgba(71, 68, 68, 0.74);
  align-items: flex-end;
  justify-content: center;
}
.material-icons:not(.mic) {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  margin: 0 10px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5c4;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: #e5e5e5c4;
  border-radius: 10px;
  
}
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
.copyrights {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: grey;
  font-size: small;
  gap: 5px;
  align-items: center;
}
/* sidebar */
.side-bar {
  height: 100%;
  width: 20%;
  background-color: white;
  overflow-y: hidden;
} 
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}